:root {
  --font-body: "Irish Grover", system-ui;
  --font-body2: "Lato", sans-serif;
  --font-body3: "Nerko One";

  /* Farver */
  --color-water1: #1d5a77;
  --color-water2: #44b9f1;

  /* Start /exit offset (px) */
  --off-fish1: 200px;
  --off-fish2: 300px;
  --off-fish3: 200px;
  --off-fish4: 500px;
  --off-fish5: 400px;
  --off-fish6: 200px;
  --off-fish7: 200px;
}

/* ---------------------------------------------------------
   Global reset
--------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
}

/* ---------------------------------------------------------
   Scene styling
--------------------------------------------------------- */
.scene {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    var(--color-water2),
    var(--color-water1)
  );
}

/* ---------------------------------------------------------
  Overlay text style 
--------------------------------------------------------- */
.overlay-text {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
  z-index: 7;
}

/* ---------------------------------------------------------
  Font for heading
--------------------------------------------------------- */
.overlay-text h1 {
  font-family: "Irish Grover";
  font-size: 2.7rem;
  letter-spacing: 2px;
}

/* ---------------------------------------------------------
  Font for p
--------------------------------------------------------- */
.overlay-text p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #ffc968;
  margin-top: 5%;
  animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1); /* normal størrelse */
  }
  50% {
    transform: scale(1.1); /* lidt større */
  }
  100% {
    transform: scale(1); /* tilbage til normal */
  }
}

/* ---------------------------------------------------------
   Background styling
--------------------------------------------------------- */

.bg-img {
  position: absolute;
  bottom: 0; /* låser bunden til skærmens bund */
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* fylder hele bredden */
  height: auto; /* proportioner bevares */
  z-index: 0;
}

/* ---------------------------------------------------------
   Fisk
   - px for selve billedstørrelsen
   - vw/vh til placering og ALLE animationsafstande
--------------------------------------------------------- */

/* Crab */
.fish1 {
  position: absolute;
  bottom: 3%; /* responsiv størrelse */
  width: 10%; /* responsiv størrelse */
  height: auto;
  z-index: 4;
  left: calc(-1 * var(--off-fish1));
  animation: fish1 12s linear infinite;
  cursor: pointer;
}

@keyframes fish1 {
  0% {
    transform: translateX(0);
  }
  90%,
  100% {
    transform: translateX(calc(100vw + var(--off-fish1)));
  }
}

/* Nemo */
.fish2 {
  position: absolute;
  bottom: 17%; /* responsiv størrelse */
  width: 10%; /* responsiv størrelse */
  height: auto;
  z-index: 3;
  left: calc(-1 * var(--off-fish2));
  animation: fish2 18s linear infinite;
  cursor: pointer;
}

@keyframes fish2 {
  0% {
    transform: translateX(0);
  }
  90%,
  100% {
    transform: translateX(calc(100vw + var(--off-fish2)));
  }
}

/* Pufferfish */
.fish3 {
  position: absolute;
  bottom: 32%; /* responsiv størrelse */
  width: 10%; /* responsiv størrelse */
  height: auto;
  z-index: 1;
  right: calc(-1 * var(--off-fish3));
  animation: fish3 25s linear infinite;
  cursor: pointer;
}

@keyframes fish3 {
  0% {
    transform: translateX(0) rotateY(180deg);
  }
  90%,
  100% {
    transform: translateX(calc(-100vw - var(--off-fish3))) rotateY(180deg);
  }
}

/* Shark */
.fish4 {
  position: absolute;
  bottom: 60%; /* responsiv størrelse */
  width: 28%; /* responsiv størrelse */
  height: auto;
  z-index: 3;
  right: calc(-1 * var(--off-fish4));
  animation: fish4 10s linear infinite;
  cursor: pointer;
}

@keyframes fish4 {
  0% {
    transform: translateX(0) rotateY(0deg);
  }
  90%,
  100% {
    transform: translateX(calc(-100vw - var(--off-fish4))) rotateY(0deg);
  }
}

/* Stingray */
.fish5 {
  position: absolute;
  bottom: 45%; /* responsiv størrelse */
  width: 25%; /* responsiv størrelse */
  height: auto;
  z-index: 3;
  left: calc(-1 * var(--off-fish5));
  animation: fish5 18s linear infinite;
  cursor: pointer;
}

@keyframes fish5 {
  0% {
    transform: translateX(0);
  }
  90%,
  100% {
    transform: translateX(calc(100vw + var(--off-fish5)));
  }
}

/* Turtle */
.fish6 {
  position: absolute;
  bottom: 78%; /* responsiv størrelse */
  width: 16%; /* responsiv størrelse */
  height: auto;
  z-index: 3;
  left: calc(-1 * var(--off-fish6));
  animation: fish6 25s linear infinite;
  cursor: pointer;
}

@keyframes fish6 {
  0% {
    transform: translateX(0);
  }
  90%,
  100% {
    transform: translateX(calc(100vw + var(--off-fish6)));
  }
}
/* Seaweed */
.fish7 {
  position: absolute;
  bottom: 70px; /* IKKE responsiv størrelse, da den skal være et bestemt sted på havbunden */
  width: 9%; /* responsiv størrelse */
  height: auto;
  z-index: 2;
  left: 48%;
}

/* Bubbles */
.bubble {
  position: absolute;
  bottom: -10vh; /* starter under skærmen */
  width: 40px;
  opacity: 0.8;
  animation: rise 12s linear infinite;
}

/* Boble-animation */
@keyframes rise {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

.b1 {
  left: 4%;
  animation-duration: 14s;
  width: 30px;
  bottom: 10%;
}

.b2 {
  left: 12%;
  animation-duration: 18s;
  width: 45px;
  bottom: 70%;
}

.b3 {
  left: 25%;
  animation-duration: 16s;
  bottom: 80%;
}

.b4 {
  left: 28%;
  animation-duration: 20s;
  width: 35px;
  bottom: 40%;
}

.b5 {
  left: 40%;
  animation-duration: 22s;
  bottom: 5%;
}

.b6 {
  left: 45%;
  animation-duration: 14s;
  width: 30px;
  bottom: 0%;
}

.b7 {
  left: 50%;
  animation-duration: 18s;
  width: 45px;
  bottom: 60%;
}

.b8 {
  left: 60%;
  animation-duration: 16s;
  bottom: 0%;
}

.b9 {
  left: 75%;
  animation-duration: 20s;
  width: 35px;
  bottom: 10%;
}

.b10 {
  left: 85%;
  animation-duration: 22s;
  bottom: 50%;
}

/* ---------------------------------------------------------
  Pop-up cards styling
--------------------------------------------------------- */
.popup {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.35); /* overlay */
  z-index: 9999;
  padding: 1.25rem;
}

/* Gør pop-up teksten Lato */
.popup,
.popupContent,
.popupBody,
.popup * {
  font-family: var(--font-body2);
}

/* Tilten på fisk gøres større */
.popupBody strong {
  font-family: var(--font-body);
  display: block;
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  color: #000;
  text-transform: uppercase;
}

.popup.is-visible {
  display: flex;
}

.popupContent {
  position: relative; /* Tilføjet så .closeBtn positioneres inde i boksen */
  background: #f9d984;
  color: #000;
  border: 6px solid #fba55c;
  max-width: 600px;
  width: 100%;
  padding: 2rem 1.7rem;
  border-radius: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  text-align: left;
  line-height: 1.4;
}

.spilleknap {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background-color: #e01b24;
  border: none;
  border-radius: 45.6rem;
  cursor: pointer;
  text-decoration: none; /* Fjerner den understregede streg */
}

.popupContent .spilleknap {
  position: relative; /* Fjerner fixed-position for knappen i popup */
  margin-top: 2rem; /* Justerer mellemrummet mellem knappen og teksten */
  display: inline-block; /* Gør elementet til et inline-niveaublokelement så margin-top virker*/
  left: 50%; /* Afstand fra venstre side af boksen */
  transform: translateX(-50%);
  font-family: var(--font-body3);
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.closeBtn {
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  color: #b6b6b6;
  background-color: #404040;
  border: none;
  cursor: pointer;
}

.popupContent .closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
